@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Application.Models
@model Application.ViewModel.Catalog.PaymentViewModel

<div class="form-group">
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
            <input type="radio" asp-for="PaymentType" value="@Order.PaymentTypes.Cash" checked> Наличными
        </label>
        <label class="btn btn-outline-primary">
            <input type="radio" asp-for="PaymentType" value="@Order.PaymentTypes.Card"> Картой
        </label>
    </div>
</div>