@using Application.Services
@using Application.ViewModel.Sales
@model SalesAnalyticsViewModel

<div class="card">
    <div class="card-body border-0 shadow">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4>С текущими параметрами продаж не найдено</h4>
                </div>
            </div>
        </div>
    </div>
</div>


