@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Application.Areas.Admin.Pages.Test.IndexModel


<div class="container mx-auto shadow col-4 mt-4 text-center">
    <h2>Панель разработчика</h2>
    <hr/>
    <form method="post">
        <button class="btn btn-primary col-12" type="submit" asp-page-handler="Products">Создать товары</button>
        <hr/>
        <button class="btn btn-primary col-12" type="submit" asp-page-handler="Stocks">Создать склады</button>
        <hr/>
        <button class="btn btn-primary col-12" type="submit" asp-page-handler="AddProductsToStocks">Добавить товары на склад</button>
        <hr/>
        <button class="btn btn-primary col-12" type="submit" asp-page-handler="Sales">Добавить продажи</button>
        <hr/>
        <button class="btn btn-primary col-12" type="submit" asp-page-handler="Clear">Удалить продажи и заказы</button>
        <hr/>
    </form>
</div>