@model List<Application.DTOs.TopProductResultDto>

<div class="card shadow-sm">
    <div class="card-header">
        <h5 class="card-title mb-0">Топ товаров</h5>
    </div>
    <div class="card-body">
        <div class="chart-container" style="position: relative; height:400px;">
            <canvas id="topProductsChart"></canvas>
        </div>
    </div>
</div> 