@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Application.Areas.Identity.Pages.Account.RegisterCompanyModel
@{
}
@{
    ViewData["Title"] = "Регистрация компании";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-4 mx-auto text-center">
            <div class="card">
                <div class="card-body border-0 shadow">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h2 class="text-center">Регистрация компании</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-floating mt-2">
                            <input asp-for="Company.Email" class="form-control" aria-required="true" />
                            <label asp-for="Company.Email">Эл.почта компании | Логин для входа</label>
                            <span asp-validation-for="Company.Email" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-floating">
                            <input asp-for="Company.Name" class="form-control" aria-required="true" />
                            <label asp-for="Company.Name"></label>
                            <span asp-validation-for="Company.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating mt-2">
                            <input asp-for="Company.Inn" class="form-control" aria-required="true" />
                            <label asp-for="Company.Inn"></label>
                            <span asp-validation-for="Company.Inn" class="text-danger"></span>
                        </div>
                        <div class="form-floating mt-2">
                            <input asp-for="Company.Kpp" class="form-control" aria-required="true" />
                            <label asp-for="Company.Kpp"></label>
                            <span asp-validation-for="Company.Kpp" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Company.BankName" class="form-control" aria-required="true" />
                            <label asp-for="Company.BankName"></label>
                            <span asp-validation-for="Company.BankName" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Company.BankBic" class="form-control" aria-required="true" />
                            <label asp-for="Company.BankBic"></label>
                            <span asp-validation-for="Company.BankBic" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Company.BankAccount" class="form-control" aria-required="true" />
                            <label asp-for="Company.BankAccount"></label>
                            <span asp-validation-for="Company.BankAccount" class="text-danger"></span>
                        </div>
                        <div class="form-floating mt-2">
                            <input asp-for="Company.Phone" class="form-control" aria-required="true" />
                            <label asp-for="Company.Phone"></label>
                            <span asp-validation-for="Company.Phone" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-floating mt-2">
                            <input asp-for="Password.Password" class="form-control" aria-required="true" />
                            <label asp-for="Password.Password"></label>
                            <span asp-validation-for="Password.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mt-2">
                            <input asp-for="Password.ConfirmPassword" class="form-control" aria-required="true" />
                            <label asp-for="Password.ConfirmPassword"></label>
                            <span asp-validation-for="Password.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="mt-2">
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Зарегестрироваться</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}