@using Application.Services
@model Application.ViewModel.Catalog.CartInfoViewModel

<h2>Корзина</h2>
<hr/>
<div>
    @if (Model.Quantity > 0)
    {
        <h5>Количество: @Model.Quantity</h5>
        <br/>
        <h5>Итого: @Model.TotalPrice @CurrencySettings.Symbol</h5>
    }
    else
    {
        <h4>Корзина пуста</h4>
    }
</div>