@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CompanyViewModel;


<div id="company-partial" class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="form-floating">
                <input asp-for="Name" class="form-control" aria-required="true"/>
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating">
                <input asp-for="Inn" class="form-control" aria-required="true"/>
                <label asp-for="Inn"></label>
                <span asp-validation-for="Inn" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating">
                <input asp-for="Kpp" class="form-control" aria-required="true"/>
                <label asp-for="Kpp"></label>
                <span asp-validation-for="Kpp" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-floating">
                <input asp-for="BankName" class="form-control" aria-required="true"/>
                <label asp-for="BankName"></label>
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating">
                <input asp-for="BankBic" class="form-control" aria-required="true"/>
                <label asp-for="BankBic"></label>
                <span asp-validation-for="BankBic" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating">
                <input asp-for="BankAccount" class="form-control" aria-required="true"/>
                <label asp-for="BankAccount"></label>
                <span asp-validation-for="BankAccount" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Email" class="form-control" aria-required="true"/>
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Phone" class="form-control" aria-required="true"/>
                <label asp-for="Phone"></label>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>


@if (Model != null && Model.Disabled)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#company-partial input').prop('disabled', true);
        });
    </script>
}