@using Application.ViewModel.Catalog;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static Application.Model.Orders.Order;
@model PaymentViewModel

<div class="form-group">
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
            <input type="radio" asp-for="PaymentType" value="@PaymentTypes.Cash" checked> Наличными
        </label>
        <label class="btn btn-outline-primary">
            <input type="radio" asp-for="PaymentType" value="@PaymentTypes.Card"> Картой
        </label>
    </div>
</div>