@using Frontend.Services.Auth
@inject IAuthService AuthService

<div>
    <ul class="navbar-nav flex-grow-1">
        @if (await AuthService.IsInRoleAsync("Client"))
        {
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-page="/Client/Catalog/Index">
                    <i class="bi bi-shop me-1"></i>
                    <span>Каталог</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-page="/Client/Order/Index">
                    <i class="bi bi-bag me-1"></i>
                    <span>Мои заказы</span>
                </a>
            </li>
        }
        @if (await AuthService.IsInRoleAsync("Manager"))
        {
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-page="/Manager/Products/Index">
                    <i class="bi bi-box me-1"></i>
                    <span>Управление товарами</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-page="/Manager/Stocks/Index">
                    <i class="bi bi-building me-1"></i>
                    <span>Управление складами</span>
                </a>
            </li>
        }
    </ul>
</div>

