@using Application.ViewModel.Orders;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static Application.Model.Orders.Order;
@model OrderStateViewModel

<form method="post">
    <div class="row">
            <div class="col-md-6 text-start">
                @{
                    if (Model.State == States.InProcess)
                    {
                        <button asp-page-handler="Complete" type="submit" class="btn btn-primary btn-lg">Подтвердить продажу</button>
                    }
                    else if(Model.IsEnough)
                    {
                        @switch (Model.State)
                        {
                            case States.New:
                                <button asp-page-handler="Ready" type="submit" class="btn btn-primary btn-lg">Подготовить товар</button>
                                break;
                            case States.OnHold:
                                <button asp-page-handler="Ready" type="submit" class="btn btn-primary btn-lg">Подготовить товар</button>
                                break;
                        }
                    }
                    else
                    {
                        switch (Model.State)
                        {
                            case States.New:
                                <button asp-page-handler="Hold" type="submit" class="btn btn-secondary btn-lg">Отложить заявку</button>
                                break;
                        }

                    }
                }
                
            </div>
            <div class="col-md-6 text-end">
                @switch (Model.State)
                {
                    case States.New:
                        <button asp-page-handler="Cancel" type="submit" class="btn btn-danger btn-lg">Отменить заявку</button>
                        break;
                    case States.OnHold:
                        <button asp-page-handler="Cancel" type="submit" class="btn btn-danger btn-lg">Отменить заявку</button>
                        break;
                }
            </div>
    </div>
</form>