@page
@model Application.Areas.Identity.Pages.Account.About.ClientModel

@{
    ViewData["Title"] = "Аккаунт клиента";
}

<div class="mx-auto col-8">
    <h1>@ViewData["Title"]</h1>
    <div class="card shadow overflow-auto" style="height: 75vh">
        <div class="card-body border-0">
            <form asp-page-handler="General" method="post" id="General">
                <h2>Общее</h2>
                <div class="form-floating mt-2">
                    <input asp-for="Client.Email" class="form-control" aria-required="true" readonly/>
                    <label asp-for="Client.Email"></label>
                </div>
                <div class="form-floating mt-2">
                    <input asp-for="Client.FirstName" class="form-control" aria-required="true" />
                    <label asp-for="Client.FirstName"></label>
                    <span asp-validation-for="Client.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <input asp-for="Client.LastName" class="form-control" aria-required="true" />
                    <label asp-for="Client.LastName"></label>
                    <span asp-validation-for="Client.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <input asp-for="Client.Phone" class="form-control" aria-required="true" />
                    <label asp-for="Client.Phone"></label>
                    <span asp-validation-for="Client.Phone" class="text-danger"></span>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Применить</button>
                </div>
            </form>
            <hr />
            <form asp-page-handler="Password" method="post" id="Password">
                <h2>Пароль</h2>
                <div class="form-floating mt-2">
                    <input asp-for="Password.OldPassword" class="form-control" aria-required="true" />
                    <label asp-for="Password.OldPassword"></label>
                    <span asp-validation-for="Password.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <input asp-for="Password.Password" class="form-control" aria-required="true" />
                    <label asp-for="Password.Password"></label>
                    <span asp-validation-for="Password.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <input asp-for="Password.ConfirmPassword" class="form-control" aria-required="true" />
                    <label asp-for="Password.ConfirmPassword"></label>
                    <span asp-validation-for="Password.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Сменить пароль</button>
                </div>
            </form>
            <hr />
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}