@page
@model IndexModel
@using Application.Areas.Identity.Data
@using Application.Services;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IEmployeeStore EmployeeStore

@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Добро пожаловать</h1>
    <br />


    <div class="mx-auto col-md-8 text-center">
        @if (SignInManager.IsSignedIn(User))
        {
            var user = await UserManager.GetUserAsync(User);
            if (await UserManager.IsInRoleAsync(user, "Client"))
            {
                <div class="container">
                    <h3>Совершайте заказы из обширного каталога товаров</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-lg col-12" asp-page="/User/Catalog">Каталог</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-lg col-12" asp-page="/User/Ordering">Корзина</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-lg col-12" asp-page="/Orders">Заказы</a>
                        </div>
                    </div>
                </div>
            }
            else if (await UserManager.IsInRoleAsync(user, "Company"))
            {
                <div class="container">
                    <h3>Совершайте оптовые заказы из обширного каталога товаров</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-lg col-12" asp-page="/Companies/Catalog">Каталог</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-lg col-12" asp-page="/Companies/Ordering">Корзина</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-lg col-12" asp-page="/Orders">Заказы</a>
                        </div>
                    </div>
                </div>
            }
            else if (await UserManager.IsInRoleAsync(user, "Admin"))
            {
                var employee = EmployeeStore.Get(user);

                <div class="container">
                    <h3>Вы вошли как @employee.Role</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-lg col-12" asp-area="Admin" asp-page="/Stores/Index">Управление Складами</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-lg col-12" asp-area="Admin" asp-page="/Products/Index">Управление Товарами</a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-lg col-12" asp-area="Admin" asp-page="/Employees/Index">Сотрудники</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-lg col-12" asp-area="Manager" asp-page="/Orders/Index">Управление заказами</a>
                        </div>
                    </div>
                </div>
            }
            else if (await UserManager.IsInRoleAsync(user, "Manager"))
            {
                var employee = EmployeeStore.Get(user);

                <div class="container">
                    <h3>Вы вошли как @employee.Role</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-primary btn-lg col-12" asp-area="Manager" asp-page="/Orders/Index">Управление заказами</a>
                        </div>
                    </div>
                </div>
            }


            <hr />
            <div class="row text-center">
                <div class="col-md-8">
                    <a class="btn btn-primary btn-lg col-12" asp-area="Identity" asp-page="/Account/About/Index">Редактировать Аккаунт</a>
                </div>
                <div class="col-md-4">
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button type="submit" class="btn btn-secondary btn-lg col-12">Выйти</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <h4>Для продолжения войдите в систему</h4>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-lg col-10" asp-area="Identity" asp-page="/Account/Login">Войти</a>
                </div>
            </div>
            <hr />
            <h4>Либо зарегестрируйтесь</h4>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-lg col-10" asp-area="Identity" asp-page="/Account/RegisterClient">Регистрация Клиента</a>
                    <hr />
                    <a class="btn btn-primary btn-lg col-10" asp-area="Identity" asp-page="/Account/RegisterCompany">Регистрация Компании</a>
                </div>
            </div>
        }
    </div>
</div>
